.dashboard {
  background-color: var(--clr-2);
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  height: 10vh;
  color: var(--clr-4);
  padding: 1rem;
}

.dashboard.dm {
  background-color: var(--dm-4);
}

.dashboard-component {
  border: solid 2px var(--clr-3);
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 1.75rem 0.5rem 0.25rem 0.5rem;
  transition: all 0.5s;
  cursor: pointer;
  background-color: var(--clr-3);
}

.dashboard-component.dm {
  background-color: var(--dm-3);
}

.dashboard span {
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
}

.deleteAll {
  color: #a13333;
  border-color: #a13333;
}

.deleteAll.dm {
  color: var(--dm-red);
  border-color: var(--dm-red);
}

.deleteAll:hover {
  background-color: rgb(229, 170, 170);
}

.deleteAll:hover.dm {
  background-color: var(--dm-red-2);
  color: var(--dm-font-span);
  border-color: var(--dm-font-span);
}

.checkOffAll {
  color: #395f3e;
  border-color: #395f3e;
}

.checkOffAll.dm {
  color: var(--dm-green);
  border-color: var(--dm-green);
}

.checkOffAll:hover {
  background-color: rgb(173, 199, 176);
}

.checkOffAll.dm:hover {
  background-color: var(--dm-green-2);
  color: var(--dm-font-span);
  border-color: var(--dm-font-span);
}

.resetAll {
  color: #ad5827;
  border-color: #ad5827;
}

.resetAll.dm {
  color: var(--dm-orange);
  border-color: var(--dm-orange);
}

.resetAll:hover {
  background-color: #dfaa8c;
}

.resetAll.dm:hover {
  background-color: var(--dm-orange-2);
  color: var(--dm-font-span);
  border-color: var(--dm-font-span);
}

.toggleDarkMode {
  color: #181414;
  border-color: #181414;
}

.toggleDarkMode:hover {
  background-color: #948d8d;
}
