@import url("./header.css");
@import url("./main.css");
@import url("./footer.css");

/*
  1. Use a more-intuitive box-sizing model.
*/
* {
  box-sizing: border-box;
}
/*
  2. Remove default margin and padding
*/
* {
  margin: 0;
  padding: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* my changes */

:root {
  --clr-1: #304c89;
  --clr-2: #648de5;
  --clr-3: #9eb7e5;
  --clr-4: #e8e5da;
  --clr-5: #cdc392;
  --white: #fff;
  --black: #000;
  --pkmn-clr-1: #ff0000;
  --pkmn-clr-2: #cc0000;
  --pkmn-clr-3: #3b4cca;
  --pkmn-clr-4: #ffde00;
  --pkmn-clr-5: #b3a125;
  --clr-gray-1: #595959;
  --clr-gray-2: #7f7f7f;
  --clr-gray-3: #a5a5a5;
  --clr-gray-4: #cccccc;
  --clr-gray-5: #f2f2f2;
  --dm-1: #9D9B9B;
  --dm-2: #797979;
  --dm-3: #5B5B5B;
  --dm-4: #404040;
  --dm-5: #222;
  --dm-font-hdg: #b6aeae;
  --dm-font-span: #C1C1C1;
  --dm-tasks-background: rgba(59, 58, 57, 1);
  --dm-tasks-item: rgba(82, 80, 73, 1);
  --dm-red: #4F091D;
  --dm-red-2: #4f091d70;
  --dm-green: #16351c;
  --dm-green-2: #1e512821;
  --dm-orange: #5a290c;
  --dm-orange-2: #5a290c4f;
  font-size: 8px;
  font-family: "Lobster", cursive;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}


